<h1>Hello Home </h1>
<% if current_user %>
  <% if current_user.profile_photo.file.nil? %>
    <p>No Profile Photo </p>
  <%else%>
    <img src=<%= current_user.profile_photo %> height="60" width="60">
  <%end%>
<%end%>
<%= javascript_pack_tag 'main' %>
