<style>
  .container{
    width: 100%;
    max-width: initial;
  }
  .search-box{
    margin: auto;
    width: 50%;
  };

</style>
  <div class="row container">
    <h2 class="header"><center>Cupid's Compass</center></h2>
    <p class="grey-text text-darken-3 lighten-3"><center>Your guide into the world of dating.</center></p>
  </div>
  <div class="parallax-container">
    <%= form_tag(search_locations_path, method: :get) do %>
    <div class="search">
    <div class="search-wrapper card search-box transparent">
    <%= text_field_tag 'query', params[:query], placeholder: 'I\'m looking for...' %>
    </div>
  </div>
    <%end%>

    <div class="parallax parallax-container"><img src="<%= asset_path('background.jpg')%>"></div>
  </div>

<%= javascript_pack_tag 'main' %>

<div id="main-page"></div>
