<script>
$(document).ready(function() {
      $('#users').dataTable({
        dom: 'frtip',
        pageLength: 10,
        responsive: true,
        destroy: true
          }).yadcf([
            {column_number : 0, filter_type: "text", filter_container_id: "external_filter_container2", filter_default_label: "Name"}
      ]);

} );

</script>
<h3>Hello Admin! </h3>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_list</i>Filter</div>
    <div class="collapsible-body"><div id="external_filter_container2"></div></div>
    <!--<div class="collapsible-body">TEST</div>-->
  </li>
</ul>
<table id = "users" class="display nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= link_to "Edit User", edit_user_path(user), class: 'waves-effect waves-light btn' %></td>
        <td><%= link_to "Delete User", user_path(user), method: :delete, data: {confirm: "Are You Sure?"}, class: 'waves-effect waves-light btn red accent-4' %></td>
      </tr>
      <% end %>
  </tbody>
</table>
