<h3>Hello <%= @creator.first_name %></h3>
<p>We are happy to inform you that the location you've created at Cupid's Compass just got a new review submitted.</p>
<p><%= @user_data.first_name %> posted a review:</p>
<p><%= @review["body"] %></p>
